/* ***************************** */
/* BELOW 1344PX (Smaller Desktop)*/
/* ***************************** */

@media (max-width: 83.125em) {
  form {
    max-width: 60%;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .main-description {
    font-size: 1.8rem;
  }
  .footer-heading {
    font-size: 1.8rem;
  }
  .section-testimonial {
    margin-bottom: 29rem;
  }
}
/* ***************************** */
/* BELOW 1200PX (Landscape Tablets)*/
/* ***************************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .nav-list-container {
    gap: 3.2rem;
  }
  form {
    max-width: 70%;
  }
  .how-features {
    gap: 3.2rem;
  }
  .marketing-features {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  .design-header {
    padding: 9.6rem 0;
  }
  .btn {
    padding: 1rem 2.6rem;
  }
}
/* ***************************** */
/* BELOW 940PX (Landscape Tablets)*/
/* ***************************** */
@media (max-width: 60em) {
  html {
    font-size: 56.25%;
  }
  .section-hero {
    margin-bottom: 10rem;
    padding-top: 6.4rem;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-text-container .heading-primary {
    max-width: 66%;
  }
  .design-content {
    gap: 4.8rem;
  }
  .feature-in-heading {
    max-width: 50%;
  }
  form {
    max-width: 85;
  }
}
