/* ***************************** */
/* HEADER */
/* ***************************** */
.header {
  background-color: #eef1f6;
  padding: 0 9.6rem;
  height: 9.6rem;
  display: flex;
  gap: 9.6rem;
  align-items: center;
}

.nav {
  width: 100%;
}
.nav-list-container {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  font-size: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  color: #0e1133;
}

.nav-link:hover,
.nav-link:active {
  color: #565870;
}

.mobile-nav {
  display: none;
}
.nav-list:last-child {
  margin-left: auto;
}

/* Get Started Button */
.nav-list:last-child .nav-link:link,
.nav-list:last-child .nav-link:visited {
  font-size: 1.8rem;
  background-color: #ff3e66;
  color: #fff;
  padding: 3rem 3.2rem;
  border-radius: 50px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.nav-list:last-child .nav-link:link,
.nav-list:last-child .nav-link:visited {
  background-color: #ff3e66;
  color: #fff;
  padding: 1rem 1.6rem;
  border-radius: 50px;
}

.nav-list:last-child .nav-link:hover,
.nav-list:last-child .nav-link:active {
  background-color: #ff7894;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */
.section_hero {
  background-color: #eef1f6;
  padding-left: 9.6rem;
  padding-top: 9.6rem;
  margin-bottom: 12.8rem;
}
.hero {
  grid-template-columns: 1fr 1fr;
}
.hero-text-box {
  /* padding-right: 1rem; */
  align-self: center;
  padding: 1.6rem;
}
.hero-description {
  margin-bottom: 4.8rem;
  color: #777;
}
.hero-image-box {
  align-self: start;
}
.hero-img {
  width: 100%;
}
/* SUBSCRIPTION INPUT  */
.subscription-box {
  display: inline-block;
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2.4rem;
  margin-bottom: 4.8rem;
  border-left: 3px solid #ff3e66;
  position: relative;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.075);
}
.subscription-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: #fff;
  border-radius: 2.4rem;
}
.email-icon,
.arrow-icon {
  font-size: 1.6rem;
}
.subscription-btn .arrow-icon {
  color: #ff3e66;
}
.subscription-btn .arrow-icon:hover {
  color: #ff7894;
}
.input-mail {
  display: block;
  border: none;
  background-color: #fff;
  padding: 0.8rem 0.5rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;
  /* font-family: inherit; */
}

/* USERS DOWNLOADS  */
.app-users {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  /* gap: 0.1rem; */
}
.users-img-box {
  display: flex;
}
.user-img {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}
.user-img:last-child {
  margin: 0;
}
.users-text-box {
  font-weight: 500;
  line-height: 1.1;
}
.users-feedback-number {
  font-size: 3.2rem;
  font-weight: 700;
}
.feedback-text {
  font-size: 1.2rem;
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */
.section_how {
  margin-bottom: 12.8rem;
}
.header-how {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4.8rem;
}

.how-description {
  color: #777;
}
.how-btn {
  border: 1px solid #cccaca;
  transition: all0.3;
}
.how-btn:hover {
  border: 1px solid #cccaca;
  color: #777;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.05);
}
.how-features {
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.how-feature {
  padding: 1.6rem;
  border-radius: 11px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
  margin-bottom: 6.4rem;
}
.icon-feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.icon-feature-box.bolt {
  background-color: #2facfc;
}
.icon-feature-box.house {
  background-color: #ea4d89;
}
.icon-feature-box.link {
  background-color: #3679ff;
}
.icon-feature-box.bell {
  background-color: #f67842;
}
.icon-feature-box.gear {
  background-color: #6b88f7;
}
.icon-feature-box.lock {
  background-color: #3bb094;
}
.icon-feature {
  font-size: 1.6rem;
  color: #fff;
}
.marketing-title,
.title-feature {
  font-size: 2rem;
  font-weight: 700;
  color: #0f1234;
  margin-bottom: 0.8rem;
}
.marketing-description,
.description-feature {
  font-size: 1.6rem;
  color: #777;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.how-feature a:link,
.how-feature a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  transition: all 0.3s;
}

.how-feature a:hover,
.how-feature a:active {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #777;
}
/* part 2 from how section */
.how-marketing {
  background-color: #f0f1f7;
  padding: 5.2rem 6.4rem 0 6.4rem;
  height: 50rem;
  overflow: hidden;
  margin-bottom: 6.4rem;
  grid-template-columns: 1fr 2fr;
  gap: 2.4rem;
}
.marketing-img-box {
  position: relative;
}
.marketing-img {
  position: absolute;
}
.marketing-text-box {
  padding-top: 3.2rem;
  align-self: center;
}
.marketing-tag {
  display: block;
  color: #ea4d89;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.marketin-main-description {
  color: #777;
  margin-bottom: 4.8rem;
}
.marketing-feature {
  display: flex;
  gap: 1.6rem;
}
.marketing-icon-box {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #32c36a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marketing-icon {
  color: #fff;
  font-size: 1.2rem;
}
/* *************** */
/* DESIGN SECTION */
/* *************** */
