/* ***************************** */
/* HERO SECTION */
/* ***************************** */
.section-hero {
  background-color: #eef1f6;
  /* padding-left: 9.6rem; */
  padding-top: 9.6rem;
  padding-left: 4.8rem;
  margin-bottom: 12.8rem;
  display: flex;
  justify-content: flex-end;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 160rem;
}
.hero-text-box {
  padding: 4.8rem 0;
  /* Will Change here for responsive */
  max-width: 100%;
  justify-self: end;
}

.hero-description {
  margin-bottom: 4.8rem;
  color: #0e1133;
}
.hero-image-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.hero-image-box div {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
.hero-img {
  /* It go out side its container */
  display: block;
  width: 100%;
}
/* SUBSCRIPTION V1 INPUT  */
.subscription-box {
  max-width: 50%;
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2.4rem;

  border-left: 4px solid rgba(255, 62, 101, 0.712);
  box-shadow: -5px 0 0 0 #ff3e66;
  position: relative;
}
.subscription-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  background-color: #fff;
  border-radius: 2.4rem;
}
.email-icon,
.arrow-icon {
  font-size: 1.6rem;
}
.subscription-btn .arrow-icon {
  color: #ff3e66;
}
.subscription-btn .arrow-icon:hover {
  color: #ff7894;
}
.input-mail {
  display: inline-block;
  border: none;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  margin-right: auto;
  /* font-family: inherit; */
}
/* SUBSCRIPTION V2 INPUT  */

form {
  display: flex;
  max-width: 50%;
  align-items: center;
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 2.8rem;
  border-left: 4px solid #ff3e66;
  margin-bottom: 4.8rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.075);
}
form input {
  flex-grow: 2;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  color: #0e1133;
  padding: 0 0.8rem;
}
form i {
  font-size: 2rem;
  color: #333;
}
form button {
  border: none;
  background: none;
  cursor: pointer;
}
form button i {
  font-size: 2.4rem;
  font-weight: 900;
  color: #ea4d89;
}
form button i:hover {
  color: #e99ab8;
}
/* USERS DOWNLOADS  */
.app-users {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  /* gap: 0.1rem; */
}
.users-img-box {
  display: flex;
}
.user-img {
  display: block;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}
.user-img:last-child {
  margin: 0;
}
.users-text-box {
  font-weight: 500;
  line-height: 1.1;
}
.users-feedback-number {
  font-size: 3.2rem;
  font-weight: 700;
}
.feedback-text {
  font-size: 1.2rem;
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */
.section-how {
  margin-bottom: 19.6rem;
}
.header-how {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.how-description {
  color: #777;
}
.how-btn {
  transition: all 0.3s;
}
.how-btn:hover {
  border: 1px solid #cccaca;
  color: #575971;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.05);
}
.how-features {
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 9.6rem 0;
}
.how-feature {
  padding: 1.6rem;
  border-radius: 11px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.075);
}
.icon-feature-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}
.icon-feature-box.bolt {
  background-color: #2facfc;
}
.icon-feature-box.house {
  background-color: #ea4d89;
}
.icon-feature-box.link-icon {
  background-color: #3679ff;
}
.icon-feature-box.bell {
  background-color: #f67842;
}
.icon-feature-box.gear {
  background-color: #6b88f7;
}
.icon-feature-box.lock {
  background-color: #3bb094;
}
.icon-feature {
  font-size: 1.6rem;
  color: #fff;
}

.description-feature {
  margin-bottom: 1.6rem;
}
.how-feature a:link,
.how-feature a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  transition: all 0.3s;
}

.how-feature a:hover,
.how-feature a:active {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #777;
}
/* part 2 from how section */
.how-marketing {
  background-color: #f0f1f7;
  padding: 5.2rem 6.4rem 0 6.4rem;
  height: 50rem;
  overflow: hidden;
  grid-template-columns: 1fr 2fr;
  gap: 2.4rem;
}
.marketing-img-box {
  /* position: relative; */
}
.marketing-img {
  /* position: absolute; */
}
.marketing-text-box {
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
  align-self: start;
}
.marketing-tag {
  display: block;
  color: #ea4d89;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  /* margin-bottom: 2.4rem; */
}

.marketin-main-description {
  color: #777;
  margin-bottom: 4.8rem;
}
.marketing-feature {
  display: flex;
  gap: 0.8rem;
}
.marketing-icon-box {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #32c36a;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.marketing-icon {
  color: #fff;
  font-size: 1.2rem;
}
/* *************** */
/* DESIGN SECTION */
/* *************** */
.design-section {
  background-color: #0e1133;
  margin-bottom: 19.6rem;
}
.design-header {
  padding: 9.6rem 12.8rem;
}
.design-title,
.design-heading {
  color: #fff;
}
.design-heading {
  margin-bottom: 9.6rem;
}
.design-content {
  align-items: center;
  justify-items: center;
  gap: 9.6rem;
}
.design-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-left: auto;
}
.design-box {
  display: flex;
  gap: 1.8rem;
  padding: 1.6rem 2.4rem;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.261);
  border-radius: 11px;
}
.dot-icon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  flex-shrink: 0;
  transform: translateY(8px);
}
.pink-red {
  background: radial-gradient(#ff3e66, #ff5173);
  box-shadow: 0 0 1px 5px rgba(255, 62, 101, 0.517);
}
.blue {
  background: radial-gradient(#2eacfc, #50b9fa);
  box-shadow: 0 0 1px 5px rgba(44, 169, 247, 0.501);
}
.green {
  background: radial-gradient(#33c956, #63cd7c);
  box-shadow: 0 0 1px 5px rgba(51, 201, 86, 0.502);
}
.design-sub-title {
  color: #fff;
}
.design-sub-description {
  color: #b1b0b0;
}
/* *************** */
/* STATISTICS SECTION */
/* *************** */
.statistics-section {
  margin-bottom: 19.6rem;
}
.statistics-section .heading-statistics {
  margin-bottom: 6.4rem;
}
.statistics-data {
  display: flex;
  justify-content: space-around;
}
.statistics-media {
  grid-template-columns: 2fr 1fr;
  gap: 3.2rem;
}
.statistics-heading {
  margin-bottom: 12.8rem;
}
.data-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 4.8rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.075);
}
.data-result {
  font-size: 4em;
}
.statistics-data {
  margin-bottom: 10rem;
}
.statistics-video-thumb,
.statistics-image {
  width: 100%;
}

.statistics-media-description {
  margin-bottom: 3.2rem;
}
.slide-btn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff;
  color: #777;
  border: 1px solid #777;
}
.slide-btn .arrow-icon {
  font-size: 2rem;
  color: #333;
}
.statistics-slid-control {
  display: flex;
  gap: 0.8rem;
  justify-content: flex-end;
}
/* play Design for statistics video */
.statistics-video-thumb-box {
  position: relative;
}
.play-icon-box {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.play-icon-border {
  position: absolute;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;

  transform: translate(-50%, -50%);
}
.play-icon-bottom-border {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border-bottom: 1px solid #fff;
  transform: translate(-50%, -50%);
}
.play-icon {
  color: #ea4d89;
  font-size: 2rem;
}

/* *************** */
/* DOWNLOADS SECTION */
/* *************** */
.downloads-section {
  background-color: #eef1f6;
  padding: 9.6rem;
  margin-bottom: 9.6rem;
}
.downloads-box {
  max-width: 45%;
}
.downloads-appie-icon {
  display: flex;
  gap: 1.6rem;
}
.store-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.appie-store {
  width: 12rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appie-store.apple:link,
.appie-store.apple:visited {
  text-decoration: none;
  color: #fff;
  background-color: #0e1133;
  border-radius: 11px;
  transition: all 0.3s;
}
.appie-store.apple:hover,
.appie-store.apple:active {
  text-decoration: none;
  color: #0e1133;
  box-shadow: inset 0 0 0 1px #0e1133;
  background-color: #fff;
}
.appie-store.android:link,
.appie-store.android:visited {
  text-decoration: none;
  color: #0e1133;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #0e1133;
  border-radius: 11px;
  transition: all 0.3s;
}
.appie-store.android:hover,
.appie-store.android:active {
  color: #fff;
  background-color: #0e1133;
}
.logo-icon {
  font-size: 3.2rem;
}
.store-text {
  font-size: 1.6rem;
}
.store-text p:first-child {
  font-size: 0.8rem;
}

/* *************** */
/* PRICING SECTION */
/* *************** */
.section-pricing {
  margin-bottom: 25rem;
}
.pricing-options {
  gap: 3.2rem;
}
.pricing-header {
  text-align: center;
}
.pricing-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.8rem;
}
.pricing-description {
  margin-bottom: 6.4rem;
}
.pricing-plan-duration {
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  max-width: 19.6rem;
  gap: 3.2rem;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgba(119, 119, 119, 0.539);
  border-radius: 50px;
}
.monthly-option {
  margin: 0.2rem;
}
.monthly-option .duration-text {
  color: #fff;
  background-color: #ea4d89;
  border-radius: 50px;
  padding: 1rem 2rem;
}
.yearly-option .duration-text {
  padding-right: 2rem;
  color: #777;
}
.price-option-box {
  text-align: left;
  border: 0.5px solid #cccaca;
  border-radius: 11px;
  padding: 4.8rem;
}

.price-option {
  margin-bottom: 2.4rem;
}
.plan-name {
  margin-bottom: 3.2rem;
}
.plan-price {
  display: flex;
  align-items: flex-end;
}
.plan-price .dollar-sigin {
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 0.6rem;
  align-self: flex-start;
}
.plan-price .price-number {
  font-size: 4.8rem;
  font-weight: 700;
}

.plan-price .per-month {
  font-size: 1.6rem;
  padding-bottom: 0.6rem;
  color: #777;
}
.plan-free-offer {
  margin-bottom: 3.2rem;
}
.plan-free-offer-text {
  font-size: 1.6rem;
  color: #777;
}
.horizontal-line {
  margin-bottom: 2.4rem;
}
.plan-benefits-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3.2rem;
}
.plan-benefit {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.plan-benefit .plan-text {
  color: #0e1133;
  font-size: 1.5rem;
  font-weight: 500;
}
.plan-check-icon {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #eef4fe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  color: #5c8ff7;
}
.price-option-box:nth-child(2) {
  position: relative;
  border: none;
  border-top: 3px solid #ea4d89;
  box-shadow: 0 24px 20px rgba(0, 0, 0, 0.075);
}
.price-option-box:nth-child(2) .btn {
  border: none;
  background-color: #ea4d89;
  color: #fff;
}
.price-option-box:nth-child(2)::after {
  content: "Most Popular";
  position: absolute;
  top: 5%;
  right: 0;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  color: #fff;
  background-color: #2a6df5;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* *************** */
/* TESTIMONIAL SECTION */
/* *************** */
.section-testimonial {
  margin-bottom: 30rem;
}

.testimonial-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-background {
  position: absolute;
  z-index: -2;
}

.testimonial-img {
  border-radius: 50%;
  margin-bottom: 1.8rem;
}
.testimonial-user-card {
  align-items: center;
  max-width: 90rem;
  grid-template-columns: 1fr 3fr;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rating-icon {
  margin-bottom: 1.4rem;
}
.star-icon {
  color: #ffb848;
  font-size: 1.6rem;
}
.rating-number {
  font-size: 1.4rem;
  text-align: center;
  color: #bad0fb;
  font-weight: 500;
}
.user-review {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 3.2rem;
  line-height: 1.4;
}
.user-info-box {
  display: flex;
  justify-content: space-between;
}
.user-name {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
}
.user-job-title {
  font-size: 1.4rem;
  color: #bad0fb;
  font-weight: 500;
}
.reviews-slid-control {
  display: flex;
  gap: 1.2rem;
}
.reviews-slid-control .slide-btn {
  background: none;
  border: 0.5px solid #b1b0b0;
}
.reviews-slid-control .slide-btn .arrow-icon {
  color: #fff;
}
/* *************** */
/* FEATURE-IN SECTION */
/* *************** */
.section-feature-in {
  margin-bottom: 15rem;
}
.section-feature-in .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-in-heading {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-in-logos-box {
  /* background-color: #32c36a; */

  /* Try with flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.feature-in-row:first-child {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}
.feature-in-row:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 6.4rem;
}
.feature-in-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 24px 50px rgba(0, 0, 0, 0.1);
}
.copy-right-footer {
  font-size: 1.6rem;
  color: #0e1133;
}
